@font-face {
font-family: 'Proxima Nova';
src: url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Proxima Nova';
src: url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Proxima Nova';
src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff');
font-weight: 600;
font-style: normal;
}
@font-face {
    font-family: 'Parangon530C';
    src: url("../fonts/Parangon530C/Parangon530C.eot");
    src: url("../fonts/Parangon530C/Parangon530C.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Parangon530C/Parangon530C.woff") format("woff"),
    url("../fonts/Parangon530C/Parangon530C.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Arial';
		src: url('../fonts/ArialMT.ttf') format('truetype'),
				url('../fonts/ArialMT.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham Pro';
		src: url('../fonts/gothampro_bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Gotham Pro';
		src: url('../fonts/gothampro.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
li{
  list-style: none;
}
.task1{
  font-family: 'Lato', sans-serif;
	margin-top: 48px;
	margin-bottom: 32px;
}

h2{
  color: #283F75;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.34px;
}

.container{
  max-width: 1140px;
  padding: 0 15px;
  margin:0 auto;
}

.task1 li{
  display: inline-grid;
}

.task1__inner{

}

.task1 p{
	margin-top: 30px;
}

.task1__inner__text{
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-right: 35px;
	width: 540px;
}

.task1__inner__accordion{
	color: var(--blue-heading, #283F75);
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	width: 560px;
}
.accordion_button{
	border: 1px solid var(--outline, #C6CDDA);
	background: var(--white, #FFF);
	width: 530px;
	padding: 20px 0px 20px 30px;
	margin-bottom: 20px

}

.accordion_content{
max-height: 0;
overflow: hidden;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
transition: 0.33s ease;
}

.arrow{
	background: url('../img/Down.svg');
	display: block;
	width: 10px;
	height: 10px;
	margin-top: -13px;
	margin-left: 490px;
	position: absolute;
}

.task2{
	margin: 57px 0px 54px 0px;
	font-family: 'Proxima Nova', sans-serif;;
}

.task2_inner{
	width: 978px;
}

.task2_item{
	width: 290px;
	height: 436px;
	display: inline-block;
	margin-right: 33px;
	margin-bottom: 30px;
	position: relative;
}

.item_picture{
	height: 290px;
	width: 290px;
	background: url('../img/Grey_Chair.png');
	transition: 1s ease;
}

.item_info{
	height: 146px;
	background: #EFF5F5;
	padding-left: 12px;
	padding-right: 12px;
}

.item_picture:hover{
	height: 290px;
	width: 290px;
	background: url('../img/Colored_Chair.png');
}

.item_category{
	color: #6E6659;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	padding-top: 15px;
	margin-bottom: 10px;
}

.item_name{
	color: #264E58;
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 10px;
}

.item_article{
	color: #A5A5A5;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 10px;
}

.article_numbers{
	display: inline;
	color: #264E58;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

.price_numbers{
	display: inline;
	color: #6E6659;
	font-family: Proxima Nova;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.item_mod_discount{
	position: absolute;
	top: 15px;
	left: 15px;
	height: 14px;
	width: 54px;
	background: #E0CD1C;
	color: #FFF;
	font-family: 'Parangon 530C';
	font-size: 8px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
}

.item_mod_new{
	position: absolute;
	top: 15px;
	left: 15px;
	height: 14px;
	width: 67px;
	background: #087A28;
	color: #FFF;
	font-family: 'Parangon 530C';
	font-size: 8px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
}

.item_mod_hot{
	position: absolute;
	top: 15px;
	left: 15px;
	height: 14px;
	width: 81px;
	background: #A32018;
	color: #FFF;
	font-family: 'Parangon 530C';
	font-size: 8px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
}

.new_icon{
	background: url('../img/rocket.svg');
	width: 7px;
	height: 7px;
	display: inline-block;
}

.hot_icon{
	background: url('../img/star.svg');
	width: 8px;
	height: 8px;
	display: inline-block;
}

.discount_icon{
	background: url('../img/discount.svg');
	width: 7px;
	height: 8px;
	display: inline-block;
}

.item_mod_instock{
	position: absolute;
	top: 266px;
	left: 220px;
	height: 14px;
	width: 60px;
	font-family: Proxima Nova;
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	background: #FFF;
}

.instock_icon{
	position: relative;
	background: url('../img/check-mark.svg');
	width: 9px;
	height: 9px;
	display: inline-block;
}

.task4{
	background: url('../img/task4_bg.png');
	width: 1360px;
	padding-top: 210px;
	margin: 0 auto;
	padding-bottom: 185px;
}


.task4_inner{
	font-family: 'Gotham Pro';
	color: #FFF;
}

.title{
	font-size: 70px;
	font-style: normal;
	font-weight: 700;
	line-height: 105%;
	letter-spacing: -2.1px;
}

.aftertitle{
	margin-left: 6px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.fields{
	margin-top: 20px;
	font-size: 0px;
}

.input-box{
	border: 1px solid #FFF;
	background: rgba(255, 255, 255, 0.15);
	font-family: 'Gotham Pro';
	color:#FFF;
	height: 50px;
	width: 340px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	padding-left: 30px;
	position: relative;
	display: inline-block;
}

.text_field_flag{
	display: inline-block;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;

}

.text_field_flag::before{
	content: '';
	display: inline-block;
	position: absolute;
	width: 25px;
	height: 18px;
	top: 16px;
	left: 17px;
	background: url('../img/russian_flag.png');
	border: 1px solid #C0C0C0;
}
.text_field_with_icon{
	color: #FFF;
	font-family: Arial;
	font-size: 16px;
	padding-left: 53px;
}
::-webkit-input-placeholder {color:#FFF;}
::-moz-placeholder          {color:#FFF;}
:-moz-placeholder           {color:#FFF;}
:-ms-input-placeholder      {color:#FFF;}

.form_bot_row{
	margin-top: 35px;
}

.agreement{
	width: 720px;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	display: inline-block;
}

.agreement a{
	color: #EB7979;
	font-family: 'Gotham Pro';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-decoration-line: underline;
}

.form__button{
	position: absolute;
	margin-left: 42px;
	width: 339px;
	padding: 13px 84px;
	color: #000;
	font-family: 'Gotham Pro';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
